# Dependencies
node_modules

# Next.js build
.next
out

# Environment
.env*

# OS
.DS_Store

# Playwright (testing)
/test-results/
/playwright-report/
/playwright/.cache/

# Vercel
.vercel

# Debug logs
*.log
